body{
font-family:Arial;
  margin:0;
  background:#f4f4f4;
}
header{
  background:#2c3e50;
  color:white;
  text-align:center; 
padding:20px;
}
nav a{
  color:white;
  margin:10px;
  text-decoration:none;
  font-weight:bold;
}
nav a:hover{
  color:yellow;
}
.banner{
  backgroud:url("banner.jpg");
  padding:80px;
  text-align:center
  color:white;
}
section{
  padding:20px;
}
table{
  border-collapse:collapse;
  width:60%;
  margin:auto;
  background:white;
}
th,td{
  padding:10px;
  text-align:center;
}
footer{
  background:#111;
  color:white;
  text-align:center;
  padding:20px;
  margin-top20px;
}
form{
  background:white;
  padding:20px;
  width:300px;
  margin:auto;
}
.events{
  display:flex;
  gap:20px;
  padding:40px;
}
.card{
  background:#f4f4f4;
  padding:20px;
  border-radius:20px;
  box-shadow:0 4px rgba(0,0,0,0,2);
}
